<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="currentGoal" value=".5 lb gain per week"/>
    <add key="userGender" value="Male"/>
    <add key="userAge" value=""/>
    <add key="userHeight" value=""/>
    <add key="userWeight" value=""/>
    <add key="userWeeklyActiveDays" value=""/>
    <add key="totalDailyIntake" value=""/>
    <add key="dailyMaintanceCalories" value=""/>
    <add key="minWaterIntake" value=""/>
    <add key="mealPlanName" value=""/>
    <add key="mealPlanStartDate" value=""/>
    <add key="mealPlanEndDate" value=""/>
    <add key="mealPrepDayIntervals" value=""/>
    <add key="mealsPerDay" value=""/>
    <add key="breakfastNumber" value=""/>
    <add key="midMorningNumber" value=""/>
    <add key="lunchNumber" value=""/>
    <add key="afternoonNumber" value=""/>
    <add key="dinnerNumber" value=""/>
    <add key="nightNumber" value=""/>
    <add key="numberOfNewIngredentsItems" value="1"/>
    <add key="numberOfNewRecipiesItems" value=""/>
    <add key="oldIngredentIDValue" value=""/>
    <add key="oldRecipieIDValue" value=""/>
    <add key="startingDbID" value=""/>
    <add key="startingFoodDbID" value=""/>
    <add key="currentIngredientString" value=""/>
    <add key="currentIngredientID" value=""/>
    <add key="currentServingSize" value=""/>
    <add key="addedManually" value=""/>
    <add key="newIngredentServingSize" value=""/>
    <add key="newIngredentWebpage" value=""/>
    <add key="newIngredientConversion" value=""/>
    <add key="breakfast1mealItemName1" value=""/>
    <add key="breakfast1mealItemSize1" value=""/>
    <add key="breakfast1mealItemName2" value=""/>
    <add key="breakfast1mealItemSize2" value=""/>
    <add key="breakfast2mealItemName1" value=""/>
    <add key="breakfast2mealItemSize1" value=""/>
    <add key="breakfast2mealItemName2" value=""/>
    <add key="breakfast2mealItemSize2" value=""/>
    <add key="breakfast3mealItemName1" value=""/>
    <add key="breakfast3mealItemSize1" value=""/>
    <add key="breakfast3mealItemName2" value=""/>
    <add key="breakfast3mealItemSize2" value=""/>
    <add key="breakfast4mealItemName1" value=""/>
    <add key="breakfast4mealItemSize1" value=""/>
    <add key="breakfast4mealItemName2" value=""/>
    <add key="breakfast4mealItemSize2" value=""/>
    <add key="breakfast5mealItemName1" value=""/>
    <add key="breakfast5mealItemSize1" value=""/>
    <add key="breakfast5mealItemName2" value=""/>
    <add key="breakfast5mealItemSize2" value=""/>
    <add key="midMorning1mealItemName1" value=""/>
    <add key="midMorning1mealItemSize1" value=""/>
    <add key="midMorning1mealItemName2" value=""/>
    <add key="midMorning1mealItemSize2" value=""/>
    <add key="midMorning2mealItemName1" value=""/>
    <add key="midMorning2mealItemSize1" value=""/>
    <add key="midMorning2mealItemName2" value=""/>
    <add key="midMorning2mealItemSize2" value=""/>
    <add key="midMorning3mealItemName1" value=""/>
    <add key="midMorning3mealItemSize1" value=""/>
    <add key="midMorning3mealItemName2" value=""/>
    <add key="midMorning3mealItemSize2" value=""/>
    <add key="midMorning4mealItemName1" value=""/>
    <add key="midMorning4mealItemSize1" value=""/>
    <add key="midMorning4mealItemName2" value=""/>
    <add key="midMorning4mealItemSize2" value=""/>
    <add key="midMorning5mealItemName1" value=""/>
    <add key="midMorning5mealItemSize1" value=""/>
    <add key="midMorning5mealItemName2" value=""/>
    <add key="midMorning5mealItemSize2" value=""/>
    <add key="lunch1mealItemName1" value=""/>
    <add key="lunch1mealItemSize1" value=""/>
    <add key="lunch1mealItemName2" value=""/>
    <add key="lunch1mealItemSize2" value=""/>
    <add key="lunch1mealItemName3" value=""/>
    <add key="lunch1mealItemSize3" value=""/>
    <add key="lunch1mealItemName4" value=""/>
    <add key="lunch1mealItemSize4" value=""/>
    <add key="lunch1mealItemName5" value=""/>
    <add key="lunch1mealItemSize5" value=""/>
    <add key="lunch2mealItemName1" value=""/>
    <add key="lunch2mealItemSize1" value=""/>
    <add key="lunch2mealItemName2" value=""/>
    <add key="lunch2mealItemSize2" value=""/>
    <add key="lunch2mealItemName3" value=""/>
    <add key="lunch2mealItemSize3" value=""/>
    <add key="lunch2mealItemName4" value=""/>
    <add key="lunch2mealItemSize4" value=""/>
    <add key="lunch2mealItemName5" value=""/>
    <add key="lunch2mealItemSize5" value=""/>
    <add key="lunch3mealItemName1" value=""/>
    <add key="lunch3mealItemSize1" value=""/>
    <add key="lunch3mealItemName2" value=""/>
    <add key="lunch3mealItemSize2" value=""/>
    <add key="lunch3mealItemName3" value=""/>
    <add key="lunch3mealItemSize3" value=""/>
    <add key="lunch3mealItemName4" value=""/>
    <add key="lunch3mealItemSize4" value=""/>
    <add key="lunch3mealItemName5" value=""/>
    <add key="lunch3mealItemSize5" value=""/>
    <add key="lunch4mealItemName1" value=""/>
    <add key="lunch4mealItemSize1" value=""/>
    <add key="lunch4mealItemName2" value=""/>
    <add key="lunch4mealItemSize2" value=""/>
    <add key="lunch4mealItemName3" value=""/>
    <add key="lunch4mealItemSize3" value=""/>
    <add key="lunch4mealItemName4" value=""/>
    <add key="lunch4mealItemSize4" value=""/>
    <add key="lunch4mealItemName5" value=""/>
    <add key="lunch4mealItemSize5" value=""/>
    <add key="lunch5mealItemName1" value=""/>
    <add key="lunch5mealItemSize1" value=""/>
    <add key="lunch5mealItemName2" value=""/>
    <add key="lunch5mealItemSize2" value=""/>
    <add key="lunch5mealItemName3" value=""/>
    <add key="lunch5mealItemSize3" value=""/>
    <add key="lunch5mealItemName4" value=""/>
    <add key="lunch5mealItemSize4" value=""/>
    <add key="lunch5mealItemName5" value=""/>
    <add key="lunch5mealItemSize5" value=""/>
    <add key="afternoon1mealItemName1" value=""/>
    <add key="afternoon1mealItemSize1" value=""/>
    <add key="afternoon1mealItemName2" value=""/>
    <add key="afternoon1mealItemSize2" value=""/>
    <add key="afternoon2mealItemName1" value=""/>
    <add key="afternoon2mealItemSize1" value=""/>
    <add key="afternoon2mealItemName2" value=""/>
    <add key="afternoon2mealItemSize2" value=""/>
    <add key="afternoon3mealItemName1" value=""/>
    <add key="afternoon3mealItemSize1" value=""/>
    <add key="afternoon3mealItemName2" value=""/>
    <add key="afternoon3mealItemSize2" value=""/>
    <add key="afternoon4mealItemName1" value=""/>
    <add key="afternoon4mealItemSize1" value=""/>
    <add key="afternoon4mealItemName2" value=""/>
    <add key="afternoon4mealItemSize2" value=""/>
    <add key="afternoon5mealItemName1" value=""/>
    <add key="afternoon5mealItemSize1" value=""/>
    <add key="afternoon5mealItemName2" value=""/>
    <add key="afternoon5mealItemSize2" value=""/>
    <add key="dinner1mealItemName1" value=""/>
    <add key="dinner1mealItemSize1" value=""/>
    <add key="dinner1mealItemName2" value=""/>
    <add key="dinner1mealItemSize2" value=""/>
    <add key="dinner1mealItemName3" value=""/>
    <add key="dinner1mealItemSize3" value=""/>
    <add key="dinner1mealItemName4" value=""/>
    <add key="dinner1mealItemSize4" value=""/>
    <add key="dinner1mealItemName5" value=""/>
    <add key="dinner1mealItemSize5" value=""/>
    <add key="dinner2mealItemName1" value=""/>
    <add key="dinner2mealItemSize1" value=""/>
    <add key="dinner2mealItemName2" value=""/>
    <add key="dinner2mealItemSize2" value=""/>
    <add key="dinner2mealItemName3" value=""/>
    <add key="dinner2mealItemSize3" value=""/>
    <add key="dinner2mealItemName4" value=""/>
    <add key="dinner2mealItemSize4" value=""/>
    <add key="dinner2mealItemName5" value=""/>
    <add key="dinner2mealItemSize5" value=""/>
    <add key="dinner3mealItemName1" value=""/>
    <add key="dinner3mealItemSize1" value=""/>
    <add key="dinner3mealItemName2" value=""/>
    <add key="dinner3mealItemSize2" value=""/>
    <add key="dinner3mealItemName3" value=""/>
    <add key="dinner3mealItemSize3" value=""/>
    <add key="dinner3mealItemName4" value=""/>
    <add key="dinner3mealItemSize4" value=""/>
    <add key="dinner3mealItemName5" value=""/>
    <add key="dinner3mealItemSize5" value=""/>
    <add key="dinner4mealItemName1" value=""/>
    <add key="dinner4mealItemSize1" value=""/>
    <add key="dinner4mealItemName2" value=""/>
    <add key="dinner4mealItemSize2" value=""/>
    <add key="dinner4mealItemName3" value=""/>
    <add key="dinner4mealItemSize3" value=""/>
    <add key="dinner4mealItemName4" value=""/>
    <add key="dinner4mealItemSize4" value=""/>
    <add key="dinner4mealItemName5" value=""/>
    <add key="dinner4mealItemSize5" value=""/>
    <add key="dinner5mealItemName1" value=""/>
    <add key="dinner5mealItemSize1" value=""/>
    <add key="dinner5mealItemName2" value=""/>
    <add key="dinner5mealItemSize2" value=""/>
    <add key="dinner5mealItemName3" value=""/>
    <add key="dinner5mealItemSize3" value=""/>
    <add key="dinner5mealItemName4" value=""/>
    <add key="dinner5mealItemSize4" value=""/>
    <add key="dinner5mealItemName5" value=""/>
    <add key="dinner5mealItemSize5" value=""/>
    <add key="night1mealItemName1" value=""/>
    <add key="night1mealItemSize1" value=""/>
    <add key="night1mealItemName2" value=""/>
    <add key="night1mealItemSize2" value=""/>
    <add key="night2mealItemName1" value=""/>
    <add key="night2mealItemSize1" value=""/>
    <add key="night2mealItemName2" value=""/>
    <add key="night2mealItemSize2" value=""/>
    <add key="night3mealItemName1" value=""/>
    <add key="night3mealItemSize1" value=""/>
    <add key="night3mealItemName2" value=""/>
    <add key="night3mealItemSize2" value=""/>
    <add key="night4mealItemName1" value=""/>
    <add key="night4mealItemSize1" value=""/>
    <add key="night4mealItemName2" value=""/>
    <add key="night4mealItemSize2" value=""/>
    <add key="night5mealItemName1" value=""/>
    <add key="night5mealItemSize1" value=""/>
    <add key="night5mealItemName2" value=""/>
    <add key="night5mealItemSize2" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>